<div class="create-wrapper d-flex justify-content-center align-items-center">

  <div class="card p-4 shadow create-card">

    <h2 class="text-center mb-4 title">Withdraw Amount</h2>

    <div class="text-center mb-2">
      <strong>Current Balance:</strong> ₹ {{ account.balance }}
    </div>

    <div *ngIf="successMessage" class="alert alert-success text-center">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()" #form="ngForm">

      <div class="mb-3">
        <label class="form-label">Enter Withdraw Amount</label>
        <input 
          type="number" 
          name="withdrawAmount" 
          class="form-control custom-input"
          placeholder="Enter Withdraw Amount"
          [(ngModel)]="withdrawAmount"
          required
        />
      </div>

      <button 
        type="submit" 
        class="btn custom-btn w-100"
        [disabled]="form.invalid">
        Submit
      </button>

    </form>

  </div>

</div>